.listProduct{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.productImg{
    height: 240px;
}

.description{
    height: 200px;
    overflow: auto;
}

.hd{
    margin-top: 3em;
    text-align: center;
}

.sectionQuantity{
    margin-left: 4em;
}

.quantity{
    padding: 0 10px;
}
