.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #ffffff;
}

.logo{
    width: 60px;
    height: 60px;
    float: left;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.cart{
    margin-left: auto;
    margin-right: 12px;
}
